html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
    // scroll-behavior: smooth;
}

//start - pushing footer to the floor

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

//end - pushing footer to the floor

a {
    display: inline-block;
    text-decoration: none;
    color: $grey;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    line-height: 1.7; //20px
    color: $grey;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.icon {
    color: $grey;
    cursor: pointer;
    &--s {
        font-size: 12px;
    }
    &--m {
        font-size: 14px;
    }
    &--l {
        font-size: 16px;
    }
    &--white {
        color: $white;
    }
    &--red {
        color: $red;
    }
    &--active:hover {
        color: $red;
    }
}

.visually-hidden {
    display: none;
}

.caption {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.heading {
    font-weight: 600;
    font-size: 20px;
    line-height: 1;
    color: $black;
    text-transform: uppercase;
}

.curly-line {
    display: block;
    height: 3px;
    background-image: url(../images/line-menu.jpg);
}

.line {
    background-image: url(../images/line-header.jpg);
    background-repeat: repeat;
    background-position: center;
    height: 1px;
    &--l {
        width: 80%;
    }
    &--m {
        width: 70%;
    }
}

.breadcrumbs {
    &__list {
        position: relative;
        display: inline-block;
        margin-right: 5px;
        margin-bottom: 20px;
        padding-right: 5px;
        & a::after {
            content: "/";
            position: absolute;
            right: -5px;
        }
    }
    &__link {
        color: $grey;
    }
}

.aside {
    max-width: 270px;
    &--indent {
        margin-right: 30px;
    }    
}

.button {
    padding: 0 25px;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    color: $white;
    background-color: $black;
    cursor: pointer;
    transition: background-color 0.5s;
    &:hover {
        background-color: $red;
    }
}

.post__img {        
    &--s {
        max-width: 60px;
        width: 100%;
        height: 60px;
        cursor: pointer;
    }
    &--m {
        max-width: 370px;
        width: 100%;
        height: 190px;
        cursor: pointer;
    }
    &--l {
        max-width: 870px;
        width: 100%;
        height: 440px;
    }
    object-fit: cover;    
}

.address{
    display: none;
}

.country {
    margin-bottom: 20px;
    width: 100%;
    padding: 7px 8px;
}