@media (max-width: 1199px) {
    .header__content-inner {
        justify-content: space-between;
    }

    .header__content-item {
        padding-right: 0;
    }

        .line--l {
        width: 71%;
    }

    .suggest__category {
        display: flex;
        justify-content: space-between;
    }
    .suggest__btn + .suggest__btn {
        margin-left: 2px;
    }
    .promotions__item + .promotions__item {
        margin-left: 10px;
    }

    .posts__slider-item + .posts__slider-item {
        margin-left: 5px;
    }
}

@media (max-width: 1050px) {
    .header__menu-btn {
        display: block;
    }

    .header__menu {
        .menu {
            position: fixed;
            top: 0;
            left: -200px;
            z-index: 2;
            width: 200px;
            height: 100%;
            padding: 15px;
            background-color: #222;
            transition: 0.5s;
        }
        .menu__item {
            display: block;
            margin: 0;
            padding: 5px 0;
            border-bottom: 1px solid $grey;
        }
        .menu__link {
            font-weight: 400;
            font-size: 12px;
            line-height: 1;
            color: $light-grey;
        }
    }
    .menu .dropdown {
        position: static;        
        background-color: transparent;
    }

    .dropdown__title {
        cursor: pointer;
    }

    .menu__item-furniture:hover,
    .menu__item-bedroom:hover {
        .dropdown {
            height: none;
            padding: 0;
            border: none;
        }
    }

    .dropdown__furniture,
    .dropdown__wrapp .dropdown__furniture .dropdowm__items-link,
    .dropdown__bedroom,
    .dropdown__img,
    .dropdown__text {
        display: none;
    }

    .dropdown__boxs,
    .dropdowm__items-link {
        display: block;
    }

    .dropdown__box + .dropdown__box,
    .dropdowm__items-link + .dropdowm__items-link {
        margin-left: 0;
    }

    .dropdown__items {
        display: block;
        margin-bottom: 10px;
    }

    .dropdown__item {
        max-width: none;
        width: 100%;
        & + & {
            margin-left: 0;
        }
    }

    .dropdown__title {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.3;
        text-transform: uppercase;
        color: $white;
        border-bottom: 1px solid #666;
        &--border {
            border-bottom: 1px solid $grey;
        }
    }

    .intro__slider-item {        
        height: 510px;    
    }
    .novelty__title {
        font-size: 50px;
    }

    .suggest__btn {
        min-height: inherit;
    }

    .suggest__title {
        line-height: 1.2;
    }

    .popular {
        .product__img {
            margin-right: 5px;
        }
        .product__desc {
            padding-right: 5px;
        }
    }

    

    .footer__inner {
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .footer__newslette {
        max-width: none;
        width: 50%;
        text-align: center;
    }

    .footer__subscribe-btn {
        display: inline-block;
    }

    .footer__bottom-inner {
        justify-content: space-around;
    }
}

@media (max-width: 905px) {   
    .intro__slider-item {        
        height: 440px;    
    }
    .suggest__img {
        display: none;
    }

    .promotions__img {
        height: 250px;
    }

    
}

@media (max-width: 867px) {
    .header__policy-title {
        display: none;
    }

    .intro__slider-item {        
        height: 417px;    
    }

    .novelty__title {
        font-size: 30px;
    }

    .novelty__decs {
        padding: 0;
    }

    .line--l {
        width: 60%;
    }

    

    .footer__inner {
        justify-content: space-between;
        flex-wrap: wrap;
        padding-left: 30px;
        padding-right: 30px;
    }

    .footer__col {
        max-width: 280px;
        width: 50%;
    }

    .footer__newslette {
        max-width: none;
        width: 85%;
        text-align: start;
    }

    .footer__subscribe {
        width: 50%;
    }

    .footer__bottom-inner {
        justify-content: space-between;
        padding-left: 30px;
    }
}

@media (max-width: 800px) {
    .footer__bottom-inner {
        display: block;
    }
    .promotions {
        display: none;
    }

    .intro__slider-item {        
        height: 387px;    
    }
}

@media (max-width: 767px) {
    .header__account-btn {
        display: block;
    }

    .header__account {
        position: absolute;
        top: 34px;
        right: 0;
        z-index: 2;
        display: none;
        border: 1px solid $grey;
        background-color: #fff;
    }

    .header__account-link {
        display: block;
        max-width: 130px;
        margin: 0;
        padding-bottom: 5px;
        border: none;
        transition: color 0.5s;
        &:hover {
            color: $red;
        }
    }

    .header__content-inner {
        padding: 15px 0;
    }

    .intro__banner {
        display: none;
    }

    .intro__slider.slick-slider {
        max-width: 100%;
    }

    .intro__slider-item {    
        max-height: 370px;    
    }

    .novelty__inner {
        display: block;
    }

    .novelty__inner-info {
        width: 100%;
    }

    .novelty__img {
        max-width: 320px;
        max-height: 320px;
    }

    .suggest__category {
        justify-content: center;
        flex-wrap: wrap;
    }

    .suggest__btn {
        padding: 6px 6px;
        margin-bottom: 10px;
    }

    

}

@media (max-width: 575px) {
    .suggest {
        .line {
            display: none;
        }
        .caption {
            display: block;
            text-align: center;
        }
    }

    .popular {
        .line--l {
            width: 40%;
        }
        .slick-slide div {
            text-align: center;
        }
    }

    .posts {
        .line--l {
            width: 40%;
        }
        .post__img--m,
        .posts__slider-desc {
            max-width: none;
        }
    }

    .footer__inner {
        display: block;
        padding: 30px;
    }

    .footer__title {
        margin-bottom: 16px;
    }

    .footer__icon {
        top: -7px;
    }

    .footer__text + .footer__text {
        margin-left: 10px;
    }

    .footer__list {
        margin-bottom: 10px;
    }

    .footer__col {
        max-width: none;
        width: 100%;
        margin-bottom: 30px;
    }

    .footer__contacts {
        max-width: none;
    }

    .footer__newslette {
        width: 100%;
    }

    .footer__subscribe {
        width: 100%;
    }
}

@media (max-width: 465px) {
    .latest__btn {
        display: block;
        padding: 0 0 6px 0;
        margin: 0 auto;
    }

    .latest__btn + .latest__btn {
        padding-left: 0;
        border-left: none;
    }
    .latest__products,
    .suggest__products {
        justify-content: center;
    }
    .novelty__img {
        max-width: 218px;
    }
}

@media (max-width: 370px) {
    .header__content-item--visibility {
        display: none;
    }
    .intro__slider-item {    
        max-height: 300px;    
    }
    .popular,
    .posts {
        .line--l {
            width: 20%;
        }
    }
    .brands {
        .slick-initialized .slick-slide {
            display: flex;
            justify-content: center;
        }
        .brands__slider {
            padding: 50px 0;
        }
    }
}
