@import "_fonts";
@import "_vars";
@import "_global";

.header__top {
    background-color: $black;
}

.header__top-inner,
.header__settings {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header__language,
.header__currency {
    min-height: 12px;
    padding-left: 21px;
    font-size: 13px;
    color: $grey;
    background-color: $black;
    background-repeat: no-repeat;
    background-position: right 14px center;
    border: none;
    cursor: pointer;
    appearance: none;
    outline: none;
}

.header__language {
    padding-right: 14px;
    padding-left: 21px;
    border-right: 1px solid $grey;
}

.header__currency {
    padding-right: 25px;
    padding-left: 9px;
    text-transform: uppercase;
}

.header__account-link {
    position: relative;
    padding: 10px 14px 9px;
    color: $grey;
    border-left: 1px solid $grey;
    &--login {
        border-right: 1px solid $grey;
    }
}

.header__account-icon {
    margin-right: 5px;
}

.header__account-btn {
    display: none;
    border-right: 1px solid $grey;
    border-left: 1px solid $grey;
    padding: 10px 14px 9px;
}

.header__content-inner {
    padding: 36px 0;
}

.header__content-inner,
.header__content-item {
    display: flex;
    align-items: center;
}

.header__content-item {
    &--logo {
        padding-right: 138px;
    }
    &--delivery {
        padding-right: 68px;
    }
    &--discount {
        padding-right: 56px;
    }
    &--pros {
        padding-right: 109px;
    }
}

.logo {
    margin-right: 18px;
}

.header__policy-img {
    margin-right: 10px;
    padding: 12px 13px;
    line-height: 1.3;
    background-color: #e6e6e6;
    border-radius: 50%;
    transition: color 0.5s;
    &:hover {
        color: $red;
    }
}

.header__policy-title {
    font-size: 14px;
    line-height: 1.4;
    text-transform: uppercase;
    color: $black;
    white-space: nowrap;
}

.header__policy-text {
    margin: 0;
    font-size: 12px;
    line-height: 1.7;
    text-transform: initial;
    color: $grey;
}

.header__menu {
    margin-bottom: 20px;
}

.header__menu-inner,
.header__menu-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu-btn {
    display: none;
    width: 30px;
    padding: 10px 0;
}

.header__menu-line {
    display: block;
    margin-bottom: 4px;
    width: 100%;
    height: 5px;
    background-color: $grey;
}

.menu {
    list-style: none;
    &__item {
        display: inline-block;
        & + & {
            margin-left: 34px;
        }
    }
    &__link {
        font-weight: 600;
        font-size: 13px;
        line-height: 4.6;
        text-transform: uppercase;
        color: $black;
        transition: color 0.5s;
        &--red {
            color: $red;
        }
        &:hover {
            color: $red;
        }
    }
}

.header__search {
    position: relative;
    display: none;
    padding: 20px 0;
}

.header__search-input {
    width: 100%;
    font-size: 13px;
    line-height: 1.6;
    border: none;
    outline: 0;
}

.header__search-btn {
    position: absolute;
    right: 0;
    margin-right: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: $red;
    background-color: $white;
    border: 0;
    border-left: 1px solid $grey;
    cursor: pointer;
}

.header__cart {
    margin-left: 14px;
    padding-right: 10px;
    padding-left: 14px;
    border-left: 1px solid $grey;
}

.header__cart-calc {
    margin-right: 6px;
    color: $red;
}

.header__cart-calc,
.header__cart-items {
    font-size: 14px;
    line-height: 1.5;
}

.intro__inner,
.intro__banner-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intro__inner {
    margin-bottom: 48px;
}

.intro__slider-item {
    width: 570px;
    height: 544px;
}

.intro__slider-img {
    width: 100%;
    height: 100%;
}

.intro__banner,
.intro__banner-inner {
    position: relative;
}

.intro__banner {
    margin-left: 10px;
}

.intro__banner-img {
    transition: transform 1s;
    max-width: 100%;
    &--m {
        max-height: 277px;
        margin-bottom: 29px;
    }
    &--s {
        max-height: 257px;
    }
    &:hover {
        transform: scale(1.1);
        cursor: pointer;
    }
}

.intro__slider.slick-slider {
    position: relative;
    max-width: 50%;
    height: 100%;
}

.intro__slider .slick-dots {
    position: absolute;
    left: 50%;
    bottom: 11px;
    transform: translate(-50%, 0);
}

.intro__slider .slick-dots li {
    display: inline-block;
    margin-left: 10px;
}

.slick-dots .slick-active button {
    width: 14px;
    height: 14px;
    font-size: 0;
    background-image: url(../images/header-dots_active.png);
}

.slick-dots button {
    width: 14px;
    height: 14px;
    font-size: 0;
    background-image: url(../images/header-dots.png);
    border: none;
    outline: 0;
    cursor: pointer;
}

.latest__category,
.suggest__category {
    margin-bottom: 15px;
}

.suggest__btn,
.latest__btn {
    padding-right: 20px;
    font-size: 20px;
    line-height: 1;
    text-transform: uppercase;
    color: #515151;
    background-color: transparent;
    border: none;
    outline: 0;
    cursor: pointer;
    &:hover {
        font-weight: 600;
    }
    &.mixitup-control-active {
        font-weight: 600;
    }
}

.latest__btn + .latest__btn {
    padding-left: 20px;
    border-left: 1px solid $grey;
}

.latest__products,
.suggest__products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product {
    &--m {
        max-width: 218px;
    }
    &--l {
        max-width: 274px;
    }
}

.product__content {
    position: relative;
    margin-bottom: 10px;
    border: 1px solid $grey;
    overflow: hidden;
}

.product__content-labl {
    position: absolute;
    top: 10px;
    z-index: 1;
    padding: 0 30px;
    font-size: 10px;
    line-height: 2;
    text-transform: uppercase;
    color: $white;
    &--new {
        left: -20px;
        background-color: $blue;
        transform: rotate(-45deg);
    }
    &--sale {
        right: -20px;
        background-color: $red;
        transform: rotate(45deg);
    }
}

.product__img {
    overflow: hidden;
    &--l {
        max-width: 270px;
        min-height: 320px;
    }
    &--m {
        max-width: 216px;
        min-height: 266px;
    }
    &--s {
        max-width: 100px;
        min-height: 115px;
    }
    &--xs {
        max-width: 90px;
        min-height: 105px;
    }
}

.hover {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    height: 0;
    background-color: $white;
    overflow: hidden;
    transition: height 0.5s;
}

.product__hover {
    width: 100%;
    &--visibility {
        display: none;
    }
}

.product__content:hover .product__hover {
    height: 70px;
}

.product__basket {
    width: 100%;
    font-size: 12px;
    line-height: 2.8;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    &--white {
        color: $white;
        background-color: $black;
        transition: background-color 0.5s;
        &:hover {
            background-color: $red;
        }
    }
    &--red {
        color: $red;
        background-color: transparent;
    }
}

.product__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product__info-btn {
    min-width: 70px;
    text-align: center;
    & + & {
        border-left: 1px solid $grey;
    }
}

.product__desc {
    padding-bottom: 25px;
    text-align: center;
}

.title {
    font-size: 13px;
    line-height: 1.5;
    color: $grey;
    transition: color 0.5s;
    &:hover {
        color: $red;
    }
}

.product__price {
    margin: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.9;
    color: #515151;
    &--oldprice {
        margin-left: 5px;
        font-weight: 400;
        text-decoration: line-through;
        color: $grey;
    }
}

.btn {
    font-size: 12px;
    line-height: 2.9;
    &--transp {
        background-color: transparent;
    }
}

.novelty__inner {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 30px;
    margin-bottom: 50px;
    border: 1px solid $grey;
}

.novelty__img {
    max-width: 425px;
    max-height: 425px;
}

.novelty__inner-info {
    width: 50%;
}

.novelty__title {
    font-size: 70px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    color: $black;
}

.novelty__decs {
    margin-bottom: 50px;
    padding: 0 30px;
    text-align: justify;
    line-height: 2;
}

.novelty__btn {
    font-size: 13px;
    line-height: 2.8;
}

.suggest__inner {
    margin-bottom: 50px;
}

.suggest__btn {
    max-width: 127px;
    width: 100%;
    min-height: 108px;
    padding: 0;
    border: 1px solid $grey;
    transition: border-color, color 0.5s;
    &:hover {
        border-color: $red;
        color: $red;
    }
}

.suggest__img {
    max-width: 109px;
    height: 64px;
}

.suggest__title {
    margin: 0;
    font-size: 12px;
    line-height: 2.5;
}

.promotions__items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.promotions__item {
    height: 300px;
    overflow: hidden;
    cursor: pointer;
    &--m {
        max-width: 570px;
    }
    &--s {
        max-width: 270px;
    }
}

.promotions__img {
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    &:hover {
        transform: scale(1.05);
    }
}

.popular__slider-arrows .slick-arrow,
.posts__slider-arrows .slick-arrow,
.related-product__slider-arrows .slick-arrow,
.product-one__nav .slick-arrow {
    width: 30px;
    height: 30px;
    color: $grey;
    background-color: transparent;
    border: 1px solid $grey;
    outline: 0;
    cursor: pointer;
    transition: background-color, border, color 0.5s;
    &.slick-prew:hover,
    &.slick-next:hover {
        color: $white;
        background-color: $red;
        border: none;
    }
}

.popular__slider-item {
    max-width: 238px;
}

.popular__slider-content {
    display: flex;
    justify-content: space-between;
    border: none;
}

.popular__slider-img {
    margin-right: 20px;
    border: 1px solid $grey;
    cursor: pointer;
    transition: border 0.5s;
    &:hover {
        border: 1px solid $red;
    }
}

.popular__slider-desc {
    padding-bottom: 0;
}

.popular__slider-title {
    padding-top: 5px;
}

.posts__slider {
    padding-bottom: 50px;
    border-bottom: 1px solid $grey;
}

.posts__slider-img {
    margin-bottom: 15px;
}

.posts__slider-desc {
    display: flex;
    max-width: 370px;
}

.posts__slider-date {
    min-width: 50px;
    max-height: 55px;
    margin-right: 20px;
    padding: 8px;
    font-weight: 600;
    font-size: 20px;
    line-height: 1;
    text-align: center;
    color: $black;
    border: 1px solid $grey;
}

.posts__slider-month {
    font-weight: 400;
    font-size: 12px;
}

.posts__slider-author {
    color: $red;
}

.posts__slider-title {
    display: block;
    margin: 10px 0;
    font-weight: 600;
    color: $black;
}

.posts__slider-text {
    text-align: justify;
}

.brands__slider {
    padding: 50px 0 50px 50px;
}

.footer__top {
    background-color: $light-grey;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    padding: 54px 0;
}

.footer__contacts {
    max-width: 220px;
}

.footer__title {
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 600;
    text-transform: uppercase;
    color: $black;
}

.footer__item {
    margin-bottom: 24px;
}

.footer__connection {
    position: relative;
    padding-left: 44px;
    transition: color, border-color 0.5s;
    &:hover .footer__icon {
        color: $red;
        border-color: $red;
    }
}

.footer__icon {
    position: absolute;
    left: 0;
    margin-right: 8px;
    font-size: 13px;
    line-height: 1.8;
    background-color: $white;
    border-radius: 50%;
    border: 1px solid $black;
    &--addr {
        padding: 6px 12px;
    }
    &--phone {
        padding: 6px 12px;
    }
    &--mail {
        padding: 6px 11px;
    }
}

.footer__text,
.contact__col-text {
    color: $grey;
    transition: color 0.5s;
    cursor: pointer;
    &:hover {
        color: $red;
    }
    &--indent {
        margin-bottom: 15px;
    }
}

.footer__list {
    margin-bottom: 15px;
}

.footer__link {
    color: $grey;
    transition: color, transform 0.5s;
    &:hover {
        color: $red;
        transform: translateX(5px);
    }
}

.footer__newslette {
    max-width: 270px;
    width: 100%;
}

.footer__email {
    margin-bottom: 15px;
}

.footer__subscribe-input {
    width: 100%;
    margin-bottom: 10px;
    outline: 0;
}

.footer__subscribe-btn {
    display: block;
    padding: 11px 15px;
    font-weight: 600;
    color: $white;
    text-transform: uppercase;
    background-color: $black;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s;
    &:hover {
        background-color: $red;
    }
}

.footer__bottom-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 21px 0;
}

.footer__bottom-img + .footer__bottom-img {
    margin-left: 8px;
}

.header__menu-inner {
    position: relative;
}

.menu__link {
    font-weight: 600;
}

.dropdown {
    position: absolute;
    top: 50px;
    z-index: 15;
    height: 0;
    background-color: $white;
    overflow: hidden;
    transition: all 0.3s;
    &__furniture {
        left: 0px;
    }
    &__bedroom {
        left: 0px;
    }
    &__cart {
        top: 30px;
        left: -148px;
        max-width: 300px;
    }
}

.dropdown__boxs,
.dropdown__content {
    display: flex;
}
.dropdown__box + .dropdown__box,
.dropdowm__items-link + .dropdowm__items-link {
    margin-left: 30px;
}

.dropdown__items {
    display: flex;
    margin-bottom: 30px;
}
.dropdown__item {
    max-width: 256px;
    width: 100%;
    & + & {
        margin-left: 25px;
    }
}

.dropdown__title {
    font-size: 16px;
    line-height: 1.3;
    font-weight: 600;
    color: $black;
    text-transform: uppercase;
    &--border {
        border-bottom: 1px solid $grey;
    }
}

.dropdown__furniture .dropdowm__items-link {
    max-width: 560px;
}
.dropdown__bedroom .dropdowm__items-link {
    max-width: 255px;
}

.dropdown__img {
    border: 1px solid $light-grey;
    object-fit: cover;
    &--b {
        width: 100%;
        height: 120px;
    }
    &--m {
        width: 100%;
        height: 150px;
        transition: transform 0.3s;
        &:hover {
            transform: scale(1.1);
        }
    }
}

.dropdown__link {
    line-height: 2.1;
    white-space: nowrap;
    color: $grey;
    transition: color 0.5s;
    &:hover {
        color: $red;
    }
}

.dropdown__content {
    border: none;
}
.dropdown__content-link {
    margin-right: 10px;
    border: 1px solid $grey;
}

.dropdown__desc {
    padding-right: 19px;
}

.dropdown__total {
    margin: 20px 0 0 0;
    padding: 20px 0;
    text-align: right;
    border-top: 1px solid $grey;
    border-bottom: 1px solid $grey;
}

.dropdown__total-price {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.9;
}

.dropdown__product-chekout,
.dropdown__product-cart {
    display: block;
    font-weight: 600;
    line-height: 2.5;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid $grey;
    color: $grey;
    transition: color, background-color 0.5s;
    &:hover {
        color: $white;
        background-color: $red;
    }
}

.dropdown__product-chekout {
    margin: 20px 0 10px;
}

.menu__item-furniture:hover {
    .dropdown {
        height: auto;
        padding: 30px;
        border: 1px solid $grey;
    }
}

.menu__item-bedroom:hover {
    .dropdown {
        height: auto;
        padding: 60px 15px 30px;
        border: 1px solid $grey;
    }
}

.header__menu-link {
    position: relative;
    &:hover {
        .dropdown {
            height: auto;
            border: 1px solid $grey;
            padding: 20px;
        }
    }
}

//end index.html

//start furniture.html

.category {
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid $grey;
    &__caption {
        margin-bottom: 20px;
    }
}

.category__heading {
    margin: 0 0 20px 0;
    &--best {
        margin-bottom: 0;
    }
}

.category__list {
    counter-reset: my-awesome-counter;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 0;
}

.category__list-item {
    counter-increment: my-awesome-counter;
    &::before {
        content: counter(my-awesome-counter);
        border: 1px solid $grey;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: inline-block;
        line-height: 2.5;
        text-align: center;
        margin-right: 10px;
    }
    &--color {
        color: transparent;
    }
    &--red::before {
        background-color: $red;
    }
    &--yellow::before {
        background-color: $yellow;
    }
    &--blue::before {
        background-color: $blue;
    }
    &--green::before {
        background-color: $green;
    }
    & + & {
        margin-top: 8px;
    }
}

.category__link {
    color: $grey;
    transition: color, font-size 0.5s;
    &:hover {
        color: $red;
        font-size: 13px;
        font-weight: 600;
    }
}

.advertising {
    margin-bottom: 30px;
}

.advertising__link {
    max-height: 270px;
    border: 1px solid $grey;
    overflow: hidden;
}

.advertising__img {
    transition: transform 0.5s;
    &:hover {
        transform: scale(1.2);
    }
}

.category__slider-items {
    padding-top: 20px;
}
.price__btn {
    margin-top: 20px;
    line-height: 2.5;
}

.irs-min,
.irs-max {
    display: none;
}
.irs--flat .irs-line {
    background-color: #eaeaea;
    height: 6px;
    border-radius: 0;
}
.irs--flat .irs-bar {
    background-color: $red;
    height: 6px;
}

.irs--flat .irs-handle {
    top: 19px;
    background-color: $white;
    border: 3px solid $red;
}

.irs--flat .irs-handle > i:first-child {
    display: none;
}

.irs-from,
.irs-to,
.irs-single {
    top: 40px;
}

.irs--flat .irs-from,
.irs--flat .irs-to,
.irs--flat .irs-single {
    background-color: transparent;
    color: $red;
    font-weight: 600;
}

.irs--flat .irs-from:before,
.irs--flat .irs-to:before,
.irs--flat .irs-single:before {
    display: none;
}

.furniture__inner,
.posts__inner {
    display: flex;
    justify-content: space-between;
}

.furniture__shop {
    margin-bottom: 20px;
    max-width: 870px;
    max-height: 240px;
}

.furniture__shop-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.furniture__filter {
    padding: 10px 0;
    border-bottom: 1px solid $grey;
    margin-bottom: 20px;
}

.furniture__filter-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.furniture__filter-category {
    display: none;
}

.furniture__filter-menu {
    display: none;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;    
    .category {
        display: inline-block;
        max-width: 200px;
        width: 100%;
        min-height: 245px;
        padding: 10px;
        margin: 0 0 10px 0;
    }
}

.furniture__filter-btn {
    width: 30px;
    height: 30px;
    background-color: $white;
    border: 1px solid $grey;
    &.active {
        background-color: $red;
        color: $white;
        border: none;
    }
}

.furniture__filter-sort {
    margin-left: 3px;
}

.furniture__filter-select {
    background-color: $white;
    height: 30px;
    outline: 0;
    cursor: pointer;
    padding: 4px;
}

.furniture__products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid $grey;
}

.product__desc-text {
    display: none;
}

.product {
    &.list {
        max-width: none;
        width: 100%;
        display: flex;
        .product__content {
            min-width: 202px;
        }
        .product__img {
            max-width: 202px;
            min-height: 240px;
        }
        .product__desc {
            padding-left: 20px;
            text-align: left;
        }
        .product__desc-text {
            display: block;
        }
        .hover {
            display: none;
        }
        .product__hover--visibility {
            display: flex;
            justify-content: flex-start;
        }
        .product__basket {
            max-width: 170px;
            margin-right: 10px;
        }
        .product__info {
            max-width: 102px;
            border: 1px solid $grey;
        }
        .product__info-btn {
            min-width: 34px;
        }
    }
}

.pagination {
    padding: 20px 0;
    display: flex;
    justify-content: flex-end;
}

.pagination__title {
    margin-right: 15px;
}

.pagination__page {
    display: inline-block;
    margin-right: 8px;
    font-weight: 600;
}

.pagination__link {
    transition: transform 0.5s;
    &.active {
        color: $red;
    }
    &:hover {
        transform: scale(1.3);
        color: $red;
    }
}

//end furniture.html

//start product-one.html

.product-one__inner {
    display: flex;
    justify-content: space-between;
}

.product-one__content {
    max-width: 870px;
}

.product-one__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.product-one__slider {
    max-width: 370px;
    margin-right: 30px;
}

.product-one__for {
    max-width: 370px;
    margin-bottom: 10px;
}

.product-one__for-img {
    width: 100%;
    max-height: 331px;
    border: 1px solid $grey;
}

.product-one__nav {
    position: relative;
    & .slick-arrow {
        position: absolute;
        z-index: 1;
        top: 27px;
        background-color: $white;
        &.slick-prew {
            left: 0;
        }
        &.slick-next {
            right: 9px;
        }
    }
    & .slick-track .slick-slide + .slick-slide {
        margin-left: 10px;
    }
}

.product-one__nav-img {
    max-width: 85px;
    max-height: 85px;
    height: 100%;
    border: 1px solid $grey;
    cursor: pointer;
}

.product-one__title {
    font-size: 20px;
    line-height: 1;
    margin-bottom: 20px;
}

.product-one__price {
    color: $black;
    margin-bottom: 10px;
}

.rate.jq-ry-container {
    padding: 0;
}

.product-one__overview {
    font-weight: 600;
    color: $black;
    padding-top: 20px;
    margin-top: 20px;
    margin-bottom: 0;
    border-top: 1px solid $grey;
}

.product__one-text {
    margin-top: 8px;
    margin-bottom: 20px;
    border-bottom: 1px solid $grey;
    padding-bottom: 22px;
}

.product__one-add {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    .product__basket {
        white-space: nowrap;
        max-width: 195px;
        margin-bottom: 10px;
    }
    .product__info {
        border: 1px solid $grey;
        margin-bottom: 10px;
        & .product__info-btn {
            min-width: 35px;
            height: 35px;
        }
    }
}

.product__one-num {
    display: flex;
    margin-bottom: 10px;
}

.quant {
    text-align: center;
    font-size: 16px;
    line-height: 2.1;
    width: 35px;
    height: 35px;
    border: 1px solid $grey;
    cursor: pointer;
}

.tabs {
    display: flex;
    align-items: center;
}

.tab {
    max-width: 230px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    border: 1px solid $grey;
    padding: 15px;
    cursor: pointer;
    &.active {
        color: $white;
        background-color: $black;
        cursor: default;
    }
}

.tab__content {
    padding: 20px;
    border: 1px solid $grey;
}

.tab-item {
    display: none;
    &:first-child {
        display: block;
    }
}

.tab-item__table {
    width: 100%;
    border-collapse: collapse;
}

.tab-item__td {
    border: 1px solid $grey;
}

.tab-item__text {
    padding: 8px 10px;
    margin: 0;
    &--width {
        width: 25%;
    }
    &--black {
        font-weight: 600;
        color: $black;
    }
    &--pad {
        padding: 0;
    }
}

.tab-item__review .tab-item__text {
    padding: 8px 0;
}

.tab-item__title {
    text-transform: uppercase;
}

.tab-item__text-space {
    display: block;
}

.tab-item__text-rating {
    margin-bottom: 8px;
}

.tab-item__review-input {
    width: 100%;
    min-height: 75px;
    outline: none;
}


.tab-item__email {
    margin-bottom: 20px;
}

.tab-item-btn {
    padding: 8px 25px;
    text-transform: uppercase;
    background-color: $black;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s;
    &:hover {
        background-color: $red;
    }
}

.tab__content-text {
    text-align: justify;
}

.related-product__slider {
    border-bottom: 1px solid $grey;
}

.related-product__slider-items .product {
    margin-right: 20px;
}

//end product-one.html

//start blog.html

.category__img {
    margin-right: 10px;
}

.category__title {
    line-height: 1;
    margin: 0 0 15px 0;
    color: $black;
}

.category__date {
    color: $grey;
}

.post {
    margin-bottom: 50px;
}

.posts__content {
    max-width: 870px;
}

.post__item {
    transition: transform 0.5s;
    &:first-child {
        padding-bottom: 20px;
    }
    & + & {
        padding: 20px 0;
        border-top: 1px solid $grey;
    }
    &:hover {
        transform: scale(1.1);
        .category__title,
        .category__date,
        .category__date .icon {
            color: $red;
        }
    }
}

.post__link {
    display: flex;
}

.post__desc-pub {
    margin-top: 10px;
    padding: 20px 0;
    border-top: 1px solid $grey;
    border-bottom: 1px solid $grey;
}

.post__date {
    padding-right: 15px;
    margin-right: 15px;
    border-right: 1px solid $grey;
    text-transform: uppercase;
}

.post__title {
    font-size: 30px;
    line-height: 1;
    font-weight: 600;
    color: $black;
}

.post__text {
    text-align: justify;
    margin: 0 0 20px 0;
}

.post__btn {
    padding: 15px 22px;
}

//end blog.html

//start contact-us.html

.contact__box {
    display: flex;
    justify-content: space-between;
    padding: 18px 0;
}

.contact__form {
    display: flex;
    .contact__col + .contact__col {
        margin-left: 30px;
    }
}

.contact__col {
    max-width: 370px;
    width: 100%;
    display: block;
}

.contact__col-text {
    padding-left: 10px;
}

.contact__text {
    margin-bottom: 20px;
}

.contact__info-item {
    margin-bottom: 10px;
}

.contact__input {
    width: 100%;
    margin-bottom: 20px;
    min-height: 40px;
    &--comment {
        min-height: 100px;
        margin-bottom: 14px;
    }
}

.contact__btn {
    padding-top: 13px;
    padding-bottom: 13px;
}

//end contact-us.html

//start 404.html

.page-404__inner {
    padding: 115px 0;
    max-width: 570px;
    text-align: center;
    margin: 0 auto;
}

.page-404__error {
    font-size: 100px;
    line-height: 1;
    color: $red;
    margin: 0;
}

.page-404__title {
    margin: 15px 0 25px 0;
}

.page-404__text {
    margin: 0 10px 45px;
}

.page-404__search {
    padding-top: 45px;
}

.page-404__search-input {
    max-width: 334px;
    width: 100%;
    padding: 15px 10px;
}

.page-404__search-btn {
    padding: 12px 18px 16px;
    margin-left: -5px;
}

.page-404__icon {
    color: $white;
    font-size: 16px;
    line-height: 1.2;
}

//end 404.html

//start shopping-cart.html

.shopping-cart {
    &--border {
        border: 1px solid $grey;
    }
}

.shopping-cart__top {
    margin-bottom: 30px;
}

.shopping-cart__table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
}

.shopping-cart__item {
    border: 1px solid $grey;
    text-align: center;
    .product__one-num {
        display: inline-flex;
    }
    .shopping-cart__link {
        transition: color 0.5s;
        &:hover {
            color: $red;
        }
    }
    .product__price {
        font-weight: 400;
        font-size: 12px;
    }
    .product__price-subtotal {
        font-weight: 600;
        font-size: 14px;
    }
}

.shopping-cart__th {
    text-transform: uppercase;
    padding: 12px;
}

.shopping-cart__border {
    border: 1px solid $grey;
}

.shopping-cart__title {
    font-size: 20px;
    line-height: 1;
    font-weight: 600;
    color: $black;
}

.shopping-cart__caption {
    background-color: $light-grey;
    text-align: center;
}

.shopping-cart__actions {
    position: relative;
    padding: 12px;
}

.shopping-cart__btn {
    padding: 10px;
    &--update {
        position: absolute;
        right: 12px;
    }
}

.shopping-cart__bottom {
    border: 3px solid $red;
    padding: 20px;
    margin-bottom: 30px;
    width: 50%;
}

.shopping-cart__title {
    margin-top: 0;
}
.shopping-cart__table {
    border-color: none;
    margin-bottom: 20px;
}

.shopping-cart__items .shopping-cart__th {
    vertical-align: top;
    width: 30%;
}

.shopping-cart__bottom .shopping-cart__item,
.shopping-cart__bottom .shopping-cart__th {
    text-align: start;
}
.shopping-cart__list-item {
    display: block;
    position: relative;
    padding-left: 20px;
}

.shopping-cart__shipping {
    padding: 20px 20px 20px 0;   
}

.shopping-cart__text-address {
    cursor: pointer;
    transition: color 0.5s;
    &:hover {
        color: $red;
    }
}

.shopping-cart__input {
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.shopping-cart__list-input {
    width: 20px;
    position: absolute;
    top: 3px;
    left: -5px;
}

.shopping-cart__text-country {
    font-weight: 600;
}

//end shopping-cart.html

//start checkout.html

.checkout {
    margin-bottom: 20px;
    .requisite__input,
    .country {
        display: block;
        width: 50%;
        margin-bottom: 20px;
    }
    .shopping-cart__item {
        text-align: start;
    }    
}

.checkout__requisite {
    margin-bottom: 20px;
}

.checkout__title {
    margin-top: 0;
    margin-bottom: 20px;
}

.checkout__link-text {
    padding: 10px 10px 10px 40px;
    background-color: #d9edf7;
    margin-bottom: 20px;
}

.checkout__link-icon {
    margin-right: 10px;
    color: #1e85be;
}

.checkout__link-question {
    color: #1e85be;
}

.checkout__link-btn {
    cursor: pointer;
    transition: color 0.5s;
    &:hover {
        color: $red;
    }
}

.checkout__login,
.checkout__coupon {
    display: none;
    border: 1px solid $grey;
    border-radius: 5px;
    padding: 20px;
    width: 100%;
}

.login__text {
    margin: 0 0 10px;
}

.login__input {
    display: block;
    margin-bottom: 10px;
}

.login__btn {
    display: block;
    padding: 8px 20px;
}

.checkout__title {
    font-size: 20px;
    text-transform: uppercase;
}

.create-account__input,
.remember__input {
    width: 25px;    
}

.checkout__password {
    display: none;
}

.checkout__btn {
    padding: 8px 15px;
}

//end checkout.html

//start login.html

.remember__input {
    margin-bottom: 15px;
}

//end login.html

@import "_media";
