@import "_fonts";
@import "_vars";
@import "_global";

.header__top {
    background-color: $black;
}

.header__top-inner,
.header__settings {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__language,
.header__currency {
    min-height: 12px;
    padding-left: 21px;
    font-size: 13px;
    color: $grey;
    background-color: $black;
    background-repeat: no-repeat;
    background-position: right 14px center;
    border: none;
    cursor: pointer;
    appearance: none;
    outline: none;
}

.header__language {
    padding-right: 14px;
    padding-left: 21px;
    border-right: 1px solid $grey;
}

.header__currency {
    padding-right: 25px;
    padding-left: 9px;
    text-transform: uppercase;
}

.header__account-link {
    position: relative;
    padding: 10px 14px 9px;
    font-size: 12px;
    color: $grey;
    border-left: 1px solid $grey;
    &--login {
        border-right: 1px solid $grey;
    }
}

.header__account-icon {
    margin-right: 5px;
}

.header__content-inner {
    padding: 36px 0;
}

.header__content-inner,
.header__content-item {
    display: flex;
    align-items: center;
}

.header__content-item {
    &--logo {
        padding-right: 138px;
    }
    &--delivery {
        padding-right: 68px;
    }
    &--discount {
        padding-right: 56px;
    }
    &--pros {
        padding-right: 109px;
    }
}

.logo {
    margin-right: 18px;
}

.header__policy-img {
    margin-right: 10px;
    padding: 12px 13px;
    line-height: 1.3;
    background-color: #e6e6e6;
    border-radius: 50%;
    transition: color 0.5s;
    &:hover {
        color: $red;
    }
}

.header__policy-title {
    font-size: 14px;
    line-height: 1.4;
    text-transform: uppercase;
    color: $black;
    white-space: nowrap;
}

.header__policy-text {
    margin: 0;
    font-size: 12px;
    line-height: 1.7;
    text-transform: initial;
    color: $grey;
}

.header__menu {
    margin-bottom: 30px;
}

.header__menu-line {
    display: block;
    height: 3px;
    background-image: url(../images/line-menu.jpg);
}

.header__menu-inner,
.header__menu-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    list-style: none;
    &__item {
        display: inline-block;
        & + & {
            margin-left: 34px;
        }
    }
    &__link {
        font-weight: 600;
        font-size: 13px;
        line-height: 4.6;
        text-transform: uppercase;
        color: $black;
        transition: color 0.5s;
        &--red {
            color: $red;
        }
        &:hover {
            color: $red;
        }
    }
}

.header__search {
    position: relative;
    display: none;
    padding: 20px 0;
}

.header__search-input {
    width: 100%;
    font-size: 13px;
    line-height: 1.6;
    border: none;
    outline: 0;
}

.header__search-btn {
    position: absolute;
    right: 0;
    margin-right: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: $red;
    background-color: $white;
    border: 0;
    border-left: 1px solid $grey;
    cursor: pointer;
}

.header__cart {
    margin-left: 14px;
    padding-right: 10px;
    padding-left: 14px;
    border-left: 1px solid $grey;
}

.header__cart-calc {
    margin-right: 6px;
    color: $red;
}

.header__cart-calc,
.header__cart-items {
    font-size: 14px;
    line-height: 1.5;
}

.intro__inner,
.intro__banner-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intro__inner {
    margin-bottom: 48px;
}

.intro__slider-img {
    max-width: 570px;
    min-height: 544px;
}

.intro__banner,
.intro__banner-inner {
    position: relative;
}

.intro__banner-img {
    &--m {
        max-width: 570px;
        max-height: 277px;
        margin-bottom: 29px;
    }
    &--s {
        max-width: 270px;
        max-height: 257px;
    }
    &:hover {
        border: 1px solid $red;
        cursor: pointer;
    }
}

.intro__slider.slick-slider {
    position: relative;
    max-width: 570px;
    max-height: 544px;
}

.intro__slider .slick-dots {
    position: absolute;
    left: 50%;
    bottom: 11px;
    transform: translate(-50%, 0);
}

.intro__slider .slick-dots li {
    display: inline-block;
    margin-left: 10px;
}

.slick-dots .slick-active button {
    width: 14px;
    height: 14px;
    font-size: 0;
    background-image: url(../images/header-dots_active.png);
}

.slick-dots button {
    width: 14px;
    height: 14px;
    font-size: 0;
    background-image: url(../images/header-dots.png);
    border: none;
    outline: 0;
    cursor: pointer;
}

.latest__category,
.suggest__category {
    margin-bottom: 15px;
}

.suggest__btn,
.latest__btn {
    padding-right: 20px;
    font-size: 20px;
    line-height: 1;
    text-transform: uppercase;
    color: #515151;
    background-color: transparent;
    border: none;
    outline: 0;
    cursor: pointer;
    &:hover {
        font-weight: 600;
    }
    &.mixitup-control-active {
        font-weight: 600;
    }
}

.latest__btn + .latest__btn {
    padding-left: 20px;
    border-left: 1px solid $grey;
}

.latest__products,
.suggest__products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product {
    &--m {
        max-width: 218px;
    }
}

.product__content {
    position: relative;
    margin-bottom: 10px;
    border: 1px solid $grey;
    overflow: hidden;
}

.product__content-labl {
    position: absolute;
    top: 10px;
    z-index: 1;
    padding: 0 30px;
    font-size: 10px;
    line-height: 2;
    text-transform: uppercase;
    color: $white;
    &--new {
        left: -20px;
        background-color: $blue;
        transform: rotate(-45deg);
    }
    &--sale {
        right: -20px;
        background-color: $red;
        transform: rotate(45deg);
    }
}

.product__img {
    overflow: hidden;
    &--m {
        max-width: 216px;
        min-height: 266px;
    }
    &--s {
        max-width: 100px;
        min-height: 115px;
    }
    &--xs {
        max-width: 90px;
        min-height: 105px;
    }
}

.hover {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    height: 0;
    background-color: $white;
    overflow: hidden;
    transition: height 0.5s;
}

.product__hover {
    width: 218px;
}

.product__content:hover .product__hover {
    height: 70px;
}

.product__basket {
    width: 100%;
    font-size: 12px;
    line-height: 2.8;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    &--white {
        color: $white;
        background-color: $black;
        transition: background-color 0.5s;
        &:hover {
            background-color: $red;
        }
    }
    &--red {
        color: $red;
        background-color: transparent;
    }
}

.product__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product__info-btn {
    min-width: 70px;
    text-align: center;
    & + & {
        border-left: 1px solid $grey;
    }
}

.product__desc {
    padding-bottom: 25px;
    text-align: center;
}

.title {
    font-size: 13px;
    line-height: 1.5;
    color: $grey;
    transition: color 0.5s;
    &:hover {
        color: $red;
    }
}

.product__price {
    margin: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.9;
    color: #515151;
    &--oldprice {
        margin-left: 5px;
        font-weight: 400;
        text-decoration: line-through;
        color: $grey;
    }
}

.btn {
    font-size: 12px;
    line-height: 2.9;
    &--transp {
        background-color: transparent;
    }
}

.novelty__inner {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 30px;
    margin-bottom: 50px;
    border: 1px solid $grey;
}

.novelty__inner-info {
    width: 50%;
}

.novelty__title {
    font-size: 70px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    color: $black;
}

.novelty__decs {
    margin-bottom: 50px;
    padding: 0 30px;
    text-align: justify;
    line-height: 2;
}

.novelty__btn {
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    line-height: 2.8;
    text-transform: uppercase;
    border: none;
    color: $white;
    background-color: $black;
    cursor: pointer;
    transition: background-color 0.5s;
    &:hover {
        background-color: $red;
    }
}

.suggest__inner {
    margin-bottom: 50px;
}

.suggest__btn {
    max-width: 127px;
    width: 100%;
    min-height: 108px;
    padding: 0;
    border: 1px solid $grey;
    transition: border-color, color 0.5s;
    &:hover {
        border-color: $red;
        color: $red;
    }
}

.suggest__img {
    max-width: 109px;
    height: 64px;
}

.suggest__title {
    margin: 0;
    font-size: 12px;
    line-height: 2.5;
}

.promotions__items {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.promotions__item {
    height: 300px;
    &--m {
        max-width: 570px;
    }
    &--s {
        max-width: 270px;
    }
}

.promotions__img {
    width: 100%;
    height: 100%;
}

.popular__slider-arrows .slick-arrow,
.posts__slider-arrows .slick-arrow {
    width: 30px;
    height: 30px;
    color: $grey;
    background-color: transparent;
    border: 1px solid $grey;
    outline: 0;
    cursor: pointer;
    transition: background-color, border, color 0.5s;
    &.slick-prew:hover,
    &.slick-next:hover {
        color: $white;
        background-color: $red;
        border: none;
    }
}

.popular__slider-item {
    max-width: 238px;
}

.popular__slider-content {
    display: flex;
    justify-content: space-between;
    border: none;
}

.popular__slider-img {
    margin-right: 20px;
    border: 1px solid $grey;
    cursor: pointer;
    transition: border 0.5s;
    &:hover {
        border: 1px solid $red;
    }
}

.popular__slider-desc {
    padding-bottom: 0;
}

.popular__slider-title {
    padding-top: 5px;
}

.posts__slider {
    padding-bottom: 50px;
    border-bottom: 1px solid $grey;
}

.posts__slider-img {
    max-width: 370px;
    width: 100%;
    height: 190px;
    margin-bottom: 15px;
    object-fit: cover;
    cursor: pointer;
}

.posts__slider-desc {
    display: flex;
    max-width: 370px;
}

.posts__slider-date {
    min-width: 50px;
    max-height: 55px;
    margin-right: 20px;
    padding: 8px;
    font-weight: 600;
    font-size: 20px;
    line-height: 1;
    text-align: center;
    color: $black;
    border: 1px solid $grey;
}

.posts__slider-month {
    font-weight: 400;
    font-size: 12px;
}

.posts__slider-author {
    color: $red;
}

.posts__slider-title {
    display: block;
    margin: 10px 0;
    font-weight: 600;
    color: $black;
}

.posts__slider-text {
    text-align: justify;
}

.brands__slider {
    padding: 50px 0 50px 50px;
}

.footer__top {
    background-color: $light-grey;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    padding: 54px 0;
}

.footer__contacts {
    max-width: 220px;
}

.footer__title {
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 600;
    text-transform: uppercase;
    color: $black;
}

.footer__item {
    margin-bottom: 24px;
}

.footer__connection {
    position: relative;
    padding-left: 44px;
    transition: color, border-color 0.5s;
    &:hover .footer__icon {
        color: $red;
        border-color: $red;
    }
}

.footer__icon {
    position: absolute;
    left: 0;
    margin-right: 8px;
    font-size: 13px;
    line-height: 1.8;
    background-color: $white;
    border-radius: 50%;
    border: 1px solid $black;
    &--addr {
        padding: 6px 12px;
    }
    &--phone {
        padding: 6px 12px;
    }
    &--mail {
        padding: 6px 11px;
    }
}

.footer__text {
    color: $grey;
    transition: color 0.5s;
    cursor: pointer;
    &:hover {
        color: $red;
    }
    &--indent {
        margin-bottom: 15px;
    }
}

.footer__list {
    margin-bottom: 15px;
}

.footer__link {
    color: $grey;
    transition: color, transform 0.5s;
    &:hover {
        color: $red;
        transform: translateX(5px);
    }
}

.footer__newslette {
    max-width: 270px;
    width: 100%;
}

.footer__email {
    margin-bottom: 15px;
}

.footer__subscribe-input {
    width: 100%;
    margin-bottom: 10px;
    line-height: 2.9;
    outline: 0;
}

.footer__subscribe-btn {
    display: block;
    padding: 11px 15px;
    font-weight: 600;
    color: $white;
    text-transform: uppercase;
    background-color: $black;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s;
    &:hover {
        background-color: $red;
    }
}

.footer__bottom-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 21px 0;
}

.footer__bottom-img + .footer__bottom-img {
    margin-left: 8px;
}

.menu__item {
    position: relative;
}

.menu__link {
    font-weight: 600;
}

.dropdown {
    position: absolute;
    top: 50px;
    left: -74px;
    z-index: 1;
    height: 0;
    background-color: $white;
    overflow: hidden;
    transition: all 0.3s;
    &__furniture {
        left: -74px;
    }
    &__bedroom {
        left: -386px;
    }
    &__cart {
        top: 30px;
        left: -148px;
        max-width: 300px;
    }
}

.dropdown__boxs,
.dropdown__content {
    display: flex;
}
.dropdown__box + .dropdown__box,
.dropdowm__items-link + .dropdowm__items-link {
    margin-left: 30px;
}

.dropdown__items {
    display: flex;
    margin-bottom: 30px;
}
.dropdown__item {
    max-width: 256px;
    width: 100%;
    & + & {
        margin-left: 25px;
    }
}

.dropdown__title {
    font-size: 16px;
    line-height: 1.3;
    font-weight: 600;
    color: $black;
    text-transform: uppercase;
    &--border {
        border-bottom: 1px solid $grey;
    }
}

.dropdown__img {
    border: 1px solid $light-grey;
    &--b {
        max-width: 540px;
        height: 120px;
    }
    &--m {
        max-width: 255px;
        height: 150px;
        transition: transform 0.3s;
        &:hover {
            transform: scale(1.1);
        }
    }
}

.dropdown__link {
    line-height: 2.1;
    color: $grey;
    transition: color 0.5s;
    &:hover {
        color: $red;
    }
}

.dropdown__content {
    border: none;
}
.dropdown__content-link {
    margin-right: 10px;
    border: 1px solid $grey;    
}

.dropdown__desc {
    padding-right: 19px;
}

.dropdown__total {
    margin: 0;
    padding: 20px 0;
    text-align: right;
    border-top: 1px solid $grey;
    border-bottom: 1px solid $grey;
}

.dropdown__total-price {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.9;
}

.dropdown__product-chekout,
.dropdown__product-cart {
    display: block;
    font-weight: 600;
    line-height: 2.5;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid $grey;
    color: $grey;
    transition: color, background-color 0.5s;
    &:hover {
        color: $white;
        background-color: $red;
    }
}

.dropdown__product-chekout {
    margin: 20px 0 10px;
}

.menu__item-furniture:hover {
    .dropdown {
        height: auto;
        padding: 30px;
        border: 1px solid $grey;
    }
}
.menu__item-bedroom:hover {
    .dropdown {
        height: auto;
        padding: 60px 15px 30px;
        border: 1px solid $grey;
    }
}

.header__menu-link {
    position: relative;
    &:hover {
        .dropdown {
            height: auto;
            border: 1px solid $grey;
            padding: 20px;
        }
    }
}

//end index.html

//start furniture.html

.breadcrumbs__list {
    position: relative;
    display: inline-block;
    margin-right: 5px;
    padding-right: 5px;
    & a::after {
        content: "/";
        position: absolute;
        right: -5px;
    }
}
