@import "_fonts";
@import "_vars";
@import "_global";

.header__top {
    background-color: $black;
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.header__language,
.header__currency {    
    min-height: 12px;    
    padding-left: 21px;
    background-color: $black;
    background-repeat: no-repeat;
    background-position: right 14px center;
    border: none;        
    cursor: pointer;
    appearance: none;
    font-size: 13px;
    color: $grey;   
    // position: relative;  
    outline: none;
}

.header__language {
    padding-right: 14px;
    padding-left: 21px;
    border-right: 1px solid $grey;
}

.header__currency {
    padding-right: 25px;
    padding-left: 9px;
    text-transform: uppercase;
}

.header__account-link {
    font-size: 12px;
    color: $grey;
    padding: 10px 14px 9px;    
    border-left: 1px solid $grey;
    &--login {
        border-right: 1px solid $grey;
    }
    position: relative;
}

.header__account-icon {    
    margin-right: 5px;
    &--user {        
        font-size: 16px;
    }
}

.header__content-inner {
    padding: 39px 0;
}
.header__content-inner,
.header__policy {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__policy-item {
    max-width: 271px;
    width: 100%;
}

.header__policy-title {
    display: inline;
}


.header__policy-img {    
    font-size: 16px;
    line-height: 1.25;
    color: $grey;
    border-radius: 50%;
    background-color: #e6e6e6;
    padding: 13px;
    transition: color .5s ease-in-out;
    &:hover {
        color: $red;
    }
}  


  
  